@use './design' as *;

.mz-buttton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 8px 15px;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  color: #606266;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: 0.1s;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  vertical-align: middle;
  appearance: none;

  &:nth-child(n + 2) {
    margin-left: 12px;
  }

  &--primary {
    color: $color-primary;
  }

  &--success {
    color: $color-success;
  }

  &--warning {
    color: $color-warning;
  }

  &--info {
    color: $color-info;
  }

  &--danger {
    color: $color-danger;
  }

  &--error {
    color: $color-error;
  }
}
